$background-main-color: #333C4A;

$color-primary: #495664;
$color-secondary: #F6F7D3;
$color-secondary-shade-1: #f3f790;
$color-tertiary: #9DB8E3;
$color-danger: #de122d;
$color-success: #A5FC85;

$color-black: #1C2128;
