.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  margin-top: 1rem;
}

.image {
  max-height: 20rem;
  min-height: 10rem;
  width: 100%;
  border-radius: 5px;
  align-self: center;
}
