@import "../../../assets/scss/abstracts/variables";

.uploadProgress {

  &__file {
    &__name {
      font-size: 1.1rem;
    }

    &__progress {
      position: relative;
      border: 1px solid rgba(0, 0, 0, .4);
      background-color: transparent;
      width: 50%;
      height: 1.4rem;
      margin: 0 1rem;
      overflow: hidden;

      &__bar {
        width: 0%;
        height: 100%;
        background-color: $color-success;
        position: absolute;
      }
    }

    &__status {

    }
  }
}


